body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-placeholder {
  border: 1px solid black;
  height: 138px;
  width: 100px;
  margin: 10px;
  position: relative;
  top: 0;
  left: 0;
}

.card-container {
  display: flex;
  justify-content: center;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.game-container {
  width: 1000px;
}

.play-container {
  margin-top: 50px;
}

img {
  width: 100px;
}

.hidden0 {
  position: relative;
  top: 0;
  left: 0;

}
.hidden1 {
  position: absolute;
  top: 2px;
  left: 0;

}
.hidden2 {
  position: absolute;
  top: 4px;
  left: 0;

}
.hidden3 {
  position: absolute;
  top: 6px;
  left: 0;

}
.hidden4 {
  position: absolute;
  top: 8px;
  left: 0;

}
.hidden5 {
  position: absolute;
  top: 10px;
  left: 0;

}
.hidden6 {
  position: absolute;
  top: 12px;
  left: 0;

}


.shown0 {
  position: relative;
  top: 0;
  left: 0;

}
.shown1 {
  position: absolute;
  top: 20px;
  left: 0;

}
.shown2 {
  position: absolute;
  top: 40px;
  left: 0;

}
.shown3 {
  position: absolute;
  top: 60px;
  left: 0;

}
.shown4 {
  position: absolute;
  top: 80px;
  left: 0;

}
.shown5 {
  position: absolute;
  top: 100px;
  left: 0;

}
.shown6 {
  position: absolute;
  top: 120px;
  left: 0;

}
.shown7 {
  position: absolute;
  top: 140px;
  left: 0;

}
.shown8 {
  position: absolute;
  top: 160px;
  left: 0;

}
.shown9 {
  position: absolute;
  top: 180px;  
  left: 0;

}
.shown10 {
  position: absolute;
  top: 200px;
  left: 0;

}
.shown11 {
  position: absolute;
  top: 220px;
  left: 0;

}
.shown12 {
  position: absolute;
  top: 240px;
  left: 0;

}
.shown13 {
  position: absolute;
  top: 260px;
  left: 0;
}